body{
    text-align: center;
    font-family: AtlasGrotesk;
    font-weight: 100;
}

a{
    color: black;
}

#header-row{
    display: flex;
    position: fixed;
    width: 100%;
    background-color: #c2def0;
    padding:25px;
    font-size: x-large;
}

#header-support{
    margin-left: auto;
    display: flex;
}

#right-hdr-btns{
    padding: 0px 20px;
}

#home-row{
    display: flex;
    background-color: #c2def0;
    height: 800px;
    text-align: left;
}

#home-row-content{
    margin: 20%;
    display: flex;
}

#home-row-content h2{
    font-size: 18pt;
}

#home-row-content h1{
    font-size: 36pt;
}


#content-row{
    padding: 5% 20%;
    border-bottom-style: solid;
    border-bottom-color:black;
    border-bottom-width: 1px;
}

#content-row-header{
    margin:0px 0px 50px 0px;
}

#content-row-content{
    text-align: left;
}

.card-deck{
    display: flex;
    justify-content: center;
}

.card{
    border-style: inset;
    border-color:black;
    border-width: 1px;
    margin:0px 20px;
    text-align: left;
}

#example-design-content{
    padding: 5% 20%;
}

#example-parameters{
    display: flex;
    text-align: left;
    justify-content: space-around;
}

#contact-row-content{
    padding: 5% 20%;
    border-style: solid;
    border-color:black;
    border-width: 1px;
}