<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}
  {% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://mathjs.org/js/lib/math.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Add ability to include javascript plots into website -->
  <!--
  {% load static %}
  <script src="{% static 'js/bodeMath.js' %}" type="text/javascript"></script>
  -->
  <!-- Add dynamic updates to bode Plots -->
  {% block dynamicPlots %}
  {% endblock %}
  
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/bode_styles.css' %}">
</head>

<body>

  <div id="container-custom" class="container-fluid">
    
    <div id="header-row" class="row">
      {% block header %}
      {% endblock %}
    </div>
    
    <div id="home-row" class="row">
      {% block home %}
      {% endblock %}
    </div>

    <div id="content-row" class="row">
      {% block content %}
      {% endblock %}
    </div>

    <div id="example-design-row" class="row">
      {% block example_design %}
      {% endblock %}
    </div>
    
  </div>
</body>
<footer>
  <!-- Add ability to include javascript plots into website -->
  {% load static %}
  <script src="{% static 'js/plotBode.js' %}" type="text/javascript"></script>
</footer>
</html>