{% extends "base_generic.html" %}

{% block dynamicPlots %}
  <script>
    //Global variable for range of bode plots on the x-axis
    range = JSON.parse('{{ bode_x_range }}');
  </script>

{% endblock %}

{% block title %}
<title>{{header_title}}</title>

{% endblock %}

{% block header %}

<div id = "site-title"class="col-6">
    <div id="home-button" type="button"> {{header_title}} </div>
</div>

<div id="header-support" class="col-6">
  <div id="right-hdr-btns"> Content </div>

  {% if show_testimonials %}
  <div id="right-hdr-btns">Testimonials</div>
  {% endif %}

  <div id="right-hdr-btns"> Design Center </div>
  <div id="right-hdr-btns"> Contact </div>
  {% if paid_site%}
  <div id="right-hdr-btns">Try Free for {{trial_length}} Days </div>
  {% endif %}
</div>

{% endblock %}

{% block home %}
<div id="home-row-content">
  <h1>Professional circuit design in 5 minutes.</h1>
  {% for i in tag_break_lines %}
  <br>
  {% endfor %}
  <h2>Design Electronics provides a simplified understanding to complex circuit design problems.</h2>
  <br>
  {% if paid_site%}
  <button type="button" class="btn btn-primary">Try Free for {{trial_length}} Days</button>
  <br>
  <p>or <u>purchase now</u>.</p>
  {% endif %}
</div>

<div id="home-row-picture">
    {% load static %}
    <img src="{% static '/img/power-converter.jpg' %}" class="rounded" alt="Power Converter" height="400 px">
</div>

{% endblock %}

{% block content %}
<div id="content-row-header">
    <h3>Design Center Tools</h3>
</div>

<!-- Card deck portion of the landing page -->
<div id="content-row-content">
    <h4>
      The design center houses all of the tools that are needed to simplify circuit design. Whereas other resources provide equations
      and cookie-cutter solutions to designs, the design center will give the designer an intuitive understanding of the mechanics of
      the design, enabling a deep understanding of the circuitry and ability to intelligently modify the design after construction.
    </h4>
</div>

<div class="card-deck" id="content-row-summary">
  {% if show_power_electronics %}
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Power Electronics</h4>
        <ul>
          <li>Switch Mode Power Supplies</li>
      </ul>
      </div>
    </div>
  {% endif %}

  {% if show_ana_electronics %}
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Analog Electronics</h4>
        <ul>
          <li>Switch Mode Power Supplies</li>
      </ul>
      </div>
    </div>
  {% endif %}

  {% if show_dig_electronics %}
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Digital Electronics</h4>
        <ul>
          <li>Digital Circuit Design</li>
          <li>FPGA Design</li>
      </ul>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}

{% block example_design %}
<div id="example-design-row-header">
    <h3>Example Design in Design Center</h3>
</div>

<div id="example-design-row-photo">
  <h3>CIRCUIT PHOTO GOES HERE</h3>
</div>

<div id="example-design-row-description">
  <h3>CIRCUIT PROBLEM DESCRIPTION GOES HERE</h3>
</div>

<div id="example-design-row-plots">
  <div id="plotmag"></div>
  <div id="plotphs" style="margin-top: -10px;"></div>

<div id="content-row-example">
    <div id="example-title">
      <h3>Example Design in the Design Center</h4>
    </div>

    <div id="example-design-picture">
      {% load static %}
      <img src="{% static '/img/buck-converter.jpg' %}" alt="Buck Converter" height="400 px">
    </div>

    <div id="example-design-input-title">
      <h4>Input Parameters</h4>
    </div>

    <div id="example-parameters">
      <div id="example-parameters-left-column">
        <p>Input Voltage: {{input_voltage}} V</p>
        <p>Output Current: {{output_current}} A</p>
        <p>Output Capacitance: {{capacitance}} &micro;F</p>
        <p>Output Capacitor Resistance: {{capacitor_res}} m&#8486;</p>
        <p>D1 On Voltage: {{d1_on_volt}} V</p>
      </div>

      <div id="example-parameters-right-column">
        <p>Output Voltage: {{output_voltage}} V</p>
        <p>Output Inductance: {{inductance}} &micro;H</p>
        <p>Inductor DC Resistance: {{inductor_res}} m&#8486;</p>
        <p>Q1 On Resistance: {{q1_on_res}} m&#8486;</p>
      </div>
  </div>
</div>
{% endblock %}