{% extends "base_generic.html" %}

{% block header %}
<div class="col-6">
    <button id="home-button" type="button" class="btn btn-primary"> {{header_title}} </button>
</div>

<div class="col-6">
  <button type="button" class="btn btn-primary">{{header_two}}</button>
  <button type="button" class="btn btn-primary">{{header_three}}</button>
  <button type="button" class="btn btn-primary">{{header_four}}</button>
  <button type="button" class="btn btn-secondary">{{header_five}}</button>
</div>

{% endblock %}

{% block home %}
<h1>{{landing_page_home_tag}}</h1>
<br>
<h2>{{landing_page_home_descrip}}</h2>
<br>
<button type="button" class="btn btn-primary">{{landing_page_trial}}</button>
<br>
<p>or {{landing_page_purchase}}</p>

{% endblock %}